<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appServicePort>8090</appServicePort>
  <appBaseApi>http://127.0.0.1:8090</appBaseApi>
  <appDB>
    <serverIP>192.168.56.211</serverIP>
    <port>1433</port>
    <dbName>UMP</dbName>
    <userName>ACM</userName>
    <password>pwd</password>
  </appDB>
  <emailConfig>
    <server>smtp.qq.com</server>
    <port>587</port>
    <userName>xxx@qq.com</userName>
    <password>xxx</password>
    <autoSendTime>7</autoSendTime>
  </emailConfig>
</configuration>